body{
font-family:Poppins;
margin:0;
background:linear-gradient(135deg,#9fd8a1,#f6c1d1);
}

nav{
position:fixed;
top:0;
width:100%;
background:white;
padding:12px;
text-align:center;
}

nav button{
margin:5px;
padding:10px 18px;
border:none;
border-radius:20px;
background:#2f6f4e;
color:white;
}

.hero{
height:100vh;
background:url("img/metha.jpg") center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
background:white;
padding:25px;
border-radius:20px;
}

.page{
display:none;
padding:90px 20px;
max-width:900px;
margin:auto;
background:white;
border-radius:20px;
}

.active{
display:block;
}

.positions{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.card{
padding:20px;
background:#f9f9f9;
border-radius:15px;
}

footer{
text-align:center;
padding:20px;
margin-top:40px;
}
.loginBody{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.loginBox{
background:white;
padding:30px;
border-radius:20px;
width:280px;
text-align:center;
}

.loginBox input{
width:100%;
margin:8px 0;
padding:10px;
}
